.card-test{
  margin-bottom: 0.5rem!important;
}

#accordion{
  position: relative;
  overflow: auto;
}

.ace_editor{
  margin-bottom: 0.5rem;
}

.icon-arrow-left{
  display: inline-block!important;
  margin-left: 0.9rem;
}

.text-draft{
  float: left !important;
}

.textarea-draft{
  float: right !important;
  width: 76% !important;
}

.link-task{
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}